In [8]:
import numpy as np
import matplotlib
import pandas as pd
import pymongo
from datetime import datetime, date

In [56]:
btc_usd = pd.read_csv('/Users/dbless/data/CryptoData/btcusd.csv')
btc_usd['date'] = btc_usd['time'].apply(lambda x: datetime.fromtimestamp(x/1000))
btc_usd['min'] = btc_usd['date'].apply(lambda x: x.minute)
btc_usd['hour'] = btc_usd['date'].apply(lambda x: x.hour)
btc_usd.index = btc_usd['date']
btc_usd_l2m = btc_usd.last('2M')

In [46]:
btc_usd[btc_usd['min'] == 0].head()

In [53]:
btc_usd['min'] = btc_usd['date'].apply(lambda x: x.minute)

In [55]:
btc_usd.head()

,time,open,close,high,low,volume,date,min
date,,,,,,,,
2013-03-31 17:07:00,1364774820000,93.25,93.30,93.30,93.25,93.300000,2013-03-31 17:07:00,7
2013-03-31 17:08:00,1364774880000,100.00,100.00,100.00,100.00,93.300000,2013-03-31 17:08:00,8
2013-03-31 17:09:00,1364774940000,93.30,93.30,93.30,93.30,33.676862,2013-03-31 17:09:00,9
2013-03-31 17:11:00,1364775060000,93.35,93.47,93.47,93.35,20.000000,2013-03-31 17:11:00,11
2013-03-31 17:12:00,1364775120000,93.47,93.47,93.47,93.47,2.021627,2013-03-31 17:12:00,12